@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0.024 285.8);

  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0.024 285.8);

  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0.024 285.8);

  --color-primary: oklch(69% 0.3 252);
  --color-primary-foreground: oklch(100% 0 0);

  --color-secondary: oklch(96% 0.016 210);
  --color-secondary-foreground: oklch(9% 0.024 285.8);

  --color-muted: oklch(96% 0.016 210);
  --color-muted-foreground: oklch(47% 0.03 214);

  --color-accent: oklch(96% 0.016 210);
  --color-accent-foreground: oklch(9% 0.024 285.8);

  --color-destructive: oklch(60% 0.24 0);
  --color-destructive-foreground: oklch(98% 0.016 210);

  --color-border: oklch(91% 0.065 214);
  --color-input: oklch(91% 0.065 214);
  --color-ring: oklch(84% 0.054 213);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(0.2 0.0064 271.09);
    --color-foreground: oklch(0.9838 0.0035 247.86);

    --color-card: oklch(0.2208 0.008 274.56);
    --color-card-foreground: oklch(0.9838 0.0035 247.86);

    --color-popover: oklch(0.2208 0.008 274.56);
    --color-popover-foreground: oklch(0.9838 0.0035 247.86);

    --color-primary: oklch(0.6101 0.2237 286.98);
    --color-primary-foreground: oklch(1 0 0);

    --color-secondary: oklch(0.2747 0.0073 274.69);
    --color-secondary-foreground: oklch(0.9838 0.0035 247.86);

    --color-muted: oklch(0.2747 0.0073 274.69);
    --color-muted-foreground: oklch(0.7107 0.0351 256.79);

    --color-accent: oklch(0.2747 0.0073 274.69);
    --color-accent-foreground: oklch(0.9838 0.0035 247.86);

    --color-destructive: oklch(0.6356 0.2082 25.38);
    --color-destructive-foreground: oklch(0.9838 0.0035 247.86);

    --color-border: oklch(0.2747 0.0073 274.69);
    --color-input: oklch(0.2747 0.0073 274.69);
    --color-ring: oklch(0.8688 0.0198 252.85);

    --radius: 0.5rem;
  }
}

* {
  border-color: var(--color-border);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  height: 100%;
  min-height: 100%;
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
